<h3>User: <%= @user.username %></h3>
<h1>Tweets:</h1>
<% @user.tweets.each do |tweet| %>
  <p><a href="/tweets/<%= tweet.id %>"><%= tweet.content %></a></p>
<% end %>
<form method="GET" action="tweets/new">
  <input type="submit" value="New Tweet">
</form>
